USE [master]
GO
/****** Objeto:  Database [BibliotecaDB]    Data do Script: 01/05/2026 13:10:20 ******/
CREATE DATABASE [BibliotecaDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'BibliotecaDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\BibliotecaDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'BibliotecaDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\BibliotecaDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [BibliotecaDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [BibliotecaDB]
GO
/****** Objeto:  User [usuario_comum]    Data do Script: 01/05/2026 13:10:20 ******/
CREATE USER [usuario_comum] FOR LOGIN [usuario_comum] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Objeto:  User [admin_biblioteca]    Data do Script: 01/05/2026 13:10:20 ******/
CREATE USER [admin_biblioteca] FOR LOGIN [admin_biblioteca] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Objeto:  DatabaseRole [role_leitura]    Data do Script: 01/05/2026 13:10:20 ******/
CREATE ROLE [role_leitura]
GO
/****** Objeto:  DatabaseRole [role_admin]    Data do Script: 01/05/2026 13:10:20 ******/
CREATE ROLE [role_admin]
GO
ALTER ROLE [role_leitura] ADD MEMBER [usuario_comum]
GO
ALTER ROLE [role_admin] ADD MEMBER [admin_biblioteca]
GO
/****** Objeto:  Table [dbo].[Usuarios]    Data do Script: 01/05/2026 13:10:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[UsuarioID] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Telefone] [nvarchar](20) NULL,
	[DataCadastro] [date] NULL,
	[SenhaHash] [varbinary](256) NULL,
PRIMARY KEY CLUSTERED 
(
	[UsuarioID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  View [dbo].[VW_Usuarios_Publico]    Data do Script: 01/05/2026 13:10:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--Criada uma VIEW para ocultar dados sensíveis:--
CREATE VIEW [dbo].[VW_Usuarios_Publico] AS
SELECT Nome, Email
FROM Usuarios;
GO
/****** Objeto:  Table [dbo].[Autores]    Data do Script: 01/05/2026 13:10:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Autores](
	[AutorID] [int] IDENTITY(1,1) NOT NULL,
	[Nome] [nvarchar](100) NOT NULL,
	[Nacionalidade] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[AutorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[Emprestimos]    Data do Script: 01/05/2026 13:10:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Emprestimos](
	[EmprestimoID] [int] IDENTITY(1,1) NOT NULL,
	[UsuarioID] [int] NOT NULL,
	[LivroID] [int] NOT NULL,
	[DataEmprestimo] [date] NOT NULL,
	[DataPrevistaDevolucao] [date] NOT NULL,
	[DataDevolucao] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[EmprestimoID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[Livros]    Data do Script: 01/05/2026 13:10:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Livros](
	[LivroID] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [nvarchar](150) NOT NULL,
	[AnoPublicacao] [int] NOT NULL,
	[ISBN] [nvarchar](20) NULL,
	[AutorID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LivroID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[ISBN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Objeto:  Table [dbo].[Log_Auditoria]    Data do Script: 01/05/2026 13:10:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Log_Auditoria](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[Usuario] [nvarchar](100) NULL,
	[Acao] [nvarchar](100) NULL,
	[DataHora] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Emprestimos] ADD  DEFAULT (getdate()) FOR [DataEmprestimo]
GO
ALTER TABLE [dbo].[Log_Auditoria] ADD  DEFAULT (getdate()) FOR [DataHora]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (getdate()) FOR [DataCadastro]
GO
ALTER TABLE [dbo].[Emprestimos]  WITH CHECK ADD  CONSTRAINT [FK_Emprestimos_Livros] FOREIGN KEY([LivroID])
REFERENCES [dbo].[Livros] ([LivroID])
GO
ALTER TABLE [dbo].[Emprestimos] CHECK CONSTRAINT [FK_Emprestimos_Livros]
GO
ALTER TABLE [dbo].[Emprestimos]  WITH CHECK ADD  CONSTRAINT [FK_Emprestimos_Usuarios] FOREIGN KEY([UsuarioID])
REFERENCES [dbo].[Usuarios] ([UsuarioID])
GO
ALTER TABLE [dbo].[Emprestimos] CHECK CONSTRAINT [FK_Emprestimos_Usuarios]
GO
ALTER TABLE [dbo].[Livros]  WITH CHECK ADD  CONSTRAINT [FK_Livros_Autores] FOREIGN KEY([AutorID])
REFERENCES [dbo].[Autores] ([AutorID])
GO
ALTER TABLE [dbo].[Livros] CHECK CONSTRAINT [FK_Livros_Autores]
GO
ALTER TABLE [dbo].[Emprestimos]  WITH CHECK ADD  CONSTRAINT [CHK_DataDevolucao] CHECK  (([DataDevolucao] IS NULL OR [DataDevolucao]>=[DataEmprestimo]))
GO
ALTER TABLE [dbo].[Emprestimos] CHECK CONSTRAINT [CHK_DataDevolucao]
GO
ALTER TABLE [dbo].[Livros]  WITH CHECK ADD  CONSTRAINT [CHK_AnoPublicacao] CHECK  (([AnoPublicacao]>=(1500)))
GO
ALTER TABLE [dbo].[Livros] CHECK CONSTRAINT [CHK_AnoPublicacao]
GO
/****** Objeto:  StoredProcedure [dbo].[RegistrarEmprestimo]    Data do Script: 01/05/2026 13:10:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[RegistrarEmprestimo]
    @UsuarioID INT,
    @LivroID INT,
    @DataPrevistaDevolucao DATE
AS
BEGIN
    INSERT INTO Emprestimos
    (UsuarioID, LivroID, DataEmprestimo, DataPrevistaDevolucao)
    VALUES
    (@UsuarioID, @LivroID, GETDATE(), @DataPrevistaDevolucao);
END;
GO
USE [master]
GO


USE BibliotecaDB;
GO
-- =========================
-- PERMISSÕES GRANT
-- =========================
GRANT SELECT, INSERT, UPDATE, DELETE ON dbo.Autores TO role_admin;
GRANT SELECT, INSERT, UPDATE, DELETE ON dbo.Livros TO role_admin;
GRANT SELECT, INSERT, UPDATE, DELETE ON dbo.Usuarios TO role_admin;
GRANT SELECT, INSERT, UPDATE, DELETE ON dbo.Emprestimos TO role_admin;
GRANT SELECT, INSERT ON dbo.Log_Auditoria TO role_admin;

-- =========================
-- PERMISSÕES USUÁRIO COMUM
-- =========================
GRANT SELECT ON dbo.Autores TO role_leitura;
GRANT SELECT ON dbo.Livros TO role_leitura;

-- acesso à VIEW (dados filtrados)
GRANT SELECT ON dbo.VW_Usuarios_Publico TO role_leitura;

-- =========================
-- Implementações de segurança
-- =========================
DENY SELECT, INSERT, UPDATE, DELETE ON dbo.Usuarios TO role_leitura;
DENY SELECT, INSERT, UPDATE, DELETE ON dbo.Emprestimos TO role_leitura;


REVOKE INSERT, UPDATE, DELETE ON dbo.Livros FROM role_leitura;
REVOKE INSERT, UPDATE, DELETE ON dbo.Autores FROM role_leitura;















